[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
